<div id="heroSlider" class="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class=" d-none d-md-block">
                    <h2>App de Notas</h2>
                    <p>Notas al momento.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="/images/team.png" class="d-block img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>