<footer>
    <div class="mx-auto">
        <p class="text-center">Desarrollado por Oriana Contreras |
            <a href="https://www.linkedin.com/in/orianalnc/">Orianalnc</a>
        </p>
    </div>
</footer>