<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Registrate</h4>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group mb-3">
                        <input type="text" name="name" value="{{name}}" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" name="email" value="{{email}}" placeholder="olnc.dev@gmail.com" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="password" value="{{password}}" placeholder="Ingresa tu contraseña" class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" name="confirm_password" value="{{confirm_password}}" placeholder="Confirma tu contraseña"
                            class="form-control">
                    </div>
                    <div class="form-group mb-3 ">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>